.bg {
    /* The image used */
    background-image: url("./background.png");

    /* Full height */
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.box {
  display: inline-block;
  background: pink;
  width: 600px;
  height: 200px;
  margin: 50px;
  /*position: relative;*/
  animation: myFrames 2s ease-in-out 1s 1;
}

#btn {
  background-color: #343435;
  border: 2px solid white;
}

@keyframes show {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes profile {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes myFrames {
  0% {
    width: 120px;
  }
  
  100% {
    width: 80%;
  }
}

@keyframes title {
  0% {
    left: 0px;
  }
  
  100% {
    left: 100px;
  }
}

@keyframes bar-group {
  0% {
    left:500px;
  }

  100% {
    left:0px;
  }
}

@keyframes bar {
  0% {
    width: 120px;
  }
  
  100% {
    width: this.width;
  }
}

